In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
calendar = "calendar.csv"
listings = "listings.csv"
reviews = "reviews.csv"

In [3]:
calendar_data = pd.read_csv(calendar)
listings_data = pd.read_csv(listings)
reviews_data = pd.read_csv(reviews)

listings_data.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,9448215,https://www.airbnb.com/rooms/9448215,2.020000e+13,1/4/2016,Capital hill,"Large room in Seattle's best neighborhood, ca...",NaN,"Large room in Seattle's best neighborhood, ca...",none,NaN,...,10.0,f,NaN,WASHINGTON,f,flexible,f,f,3,1.00
1,7204672,https://www.airbnb.com/rooms/7204672,2.020000e+13,1/4/2016,"Magnolia charm, close to downtown",Our house is just miles from the excitement of...,Our spacious home is perfect for a family or c...,Our house is just miles from the excitement of...,none,We live on a dead-end street and the house loo...,...,9.0,f,NaN,WASHINGTON,f,moderate,f,f,1,0.43
2,5579427,https://www.airbnb.com/rooms/5579427,2.020000e+13,1/4/2016,Steps from magical Discovery Park-3,A truly magnificent location in the heart of S...,WELCOME TO SEATTLE!!! I'm a professional ja...,A truly magnificent location in the heart of S...,none,"Magnolia has an ""island"" mentality and feel, t...",...,10.0,f,NaN,WASHINGTON,f,strict,f,f,4,0.74
3,6734621,https://www.airbnb.com/rooms/6734621,2.020000e+13,1/4/2016,"Super location, 3.5ba, Free Parking","This Magnolia townhouse (3 bdrm+loft, 3.5 bath...",This house was expertly picked because of loca...,"This Magnolia townhouse (3 bdrm+loft, 3.5 bath...",none,The part of Magnolia lies on the edge of Inter...,...,10.0,f,NaN,WASHINGTON,t,moderate,f,f,1,4.24
4,2263643,https://www.airbnb.com/rooms/2263643,2.020000e+13,1/4/2016,Charming English room by Park,I live near a park and also a 20 minute busrid...,"This is a large bedroom with closet, desk and ...",I live near a park and also a 20 minute busrid...,none,NaN,...,9.0,f,NaN,WASHINGTON,f,flexible,f,f,2,3.01

In [4]:
listings_df = listings_data[['id', 'neighbourhood_cleansed',
                            'zipcode','latitude','longitude', 'property_type', 'price','number_of_reviews',
                            'review_scores_rating', 'reviews_per_month', 'square_feet']]

listings_df.head()

,id,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,price,number_of_reviews,review_scores_rating,reviews_per_month,square_feet
0,9448215,Minor,98122.0,47.611079,-122.312820,House,$67.00,1,100.0,1.00,NaN
1,7204672,Lawton Park,98199.0,47.659470,-122.401873,House,$200.00,2,90.0,0.43,NaN
2,5579427,Lawton Park,98199.0,47.654211,-122.408389,House,$229.00,4,100.0,0.74,NaN
3,6734621,Lawton Park,98199.0,47.651031,-122.385004,Townhouse,$333.00,29,94.0,4.24,NaN
4,2263643,Lawton Park,98199.0,47.659121,-122.402265,Apartment,$41.00,57,89.0,3.01,NaN

In [5]:
listings_df['price'] = pd.to_numeric(listings_df['price'].apply(lambda x:x.replace('$', '').replace(',','')))
listings_df.head()

C:\Users\brizzle\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,id,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,price,number_of_reviews,review_scores_rating,reviews_per_month,square_feet
0,9448215,Minor,98122.0,47.611079,-122.312820,House,67.0,1,100.0,1.00,NaN
1,7204672,Lawton Park,98199.0,47.659470,-122.401873,House,200.0,2,90.0,0.43,NaN
2,5579427,Lawton Park,98199.0,47.654211,-122.408389,House,229.0,4,100.0,0.74,NaN
3,6734621,Lawton Park,98199.0,47.651031,-122.385004,Townhouse,333.0,29,94.0,4.24,NaN
4,2263643,Lawton Park,98199.0,47.659121,-122.402265,Apartment,41.0,57,89.0,3.01,NaN

In [6]:
listings_df.head()

,id,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,price,number_of_reviews,review_scores_rating,reviews_per_month,square_feet
0,9448215,Minor,98122.0,47.611079,-122.312820,House,67.0,1,100.0,1.00,NaN
1,7204672,Lawton Park,98199.0,47.659470,-122.401873,House,200.0,2,90.0,0.43,NaN
2,5579427,Lawton Park,98199.0,47.654211,-122.408389,House,229.0,4,100.0,0.74,NaN
3,6734621,Lawton Park,98199.0,47.651031,-122.385004,Townhouse,333.0,29,94.0,4.24,NaN
4,2263643,Lawton Park,98199.0,47.659121,-122.402265,Apartment,41.0,57,89.0,3.01,NaN

In [7]:
listings_df[['review_scores_rating', 'reviews_per_month']].fillna(value=0)

      review_scores_rating  reviews_per_month
0                    100.0               1.00
1                     90.0               0.43
2                    100.0               0.74
3                     94.0               4.24
4                     89.0               3.01
5                     98.0               3.03
6                      0.0               0.00
7                     86.0               1.11
8                      0.0               0.00
9                    100.0               0.75
10                    94.0               1.54
11                    98.0               1.33
12                     0.0               0.00
13                    94.0               5.26
14                     0.0               0.00
15                    91.0               0.50
16                    97.0               1.25
17                   100.0               0.49
18                   100.0               0.64
19                     0.0               0.00
20                    97.0               0.95
21                   100.0               2.08
22                     0.0               0.00
23                     0.0               0.00
24                    80.0               0.50
25                   100.0               0.47
26                    60.0               0.30
27                     0.0               0.00
28                    73.0               0.49
29                    93.0               5.98
...                    ...                ...
3788                  91.0               6.00
3789                  94.0               1.60
3790                  83.0               3.13
3791                  98.0               1.82
3792                 100.0               0.81
3793                  97.0               2.86
3794                 100.0               3.69
3795                   0.0               0.00
3796                  93.0               1.57
3797                  93.0               3.04
3798                  98.0               0.72
3799                  93.0               0.99
3800                   0.0               0.00
3801                  98.0               0.49
3802                  94.0               4.63
3803                  98.0               0.58
3804                  96.0               2.39
3805                   0.0               0.00
3806                  95.0               0.34
3807                  80.0               2.93
3808                  74.0               2.48
3809                  97.0               0.90
3810                  93.0               2.00
3811                  91.0               5.15
3812                 100.0               0.04
3813                  97.0               3.46
3814                  87.0               4.62
3815                  92.0               0.27
3816                  95.0               1.91
3817                   0.0               0.00

[3818 rows x 2 columns]

In [8]:
listings_df = listings_df.dropna(axis=0)

In [9]:
listings_df['property_type'].value_counts()

House              47
Apartment          37
Condominium         1
Boat                1
Bed & Breakfast     1
Cabin               1
Other               1
Chalet              1
Name: property_type, dtype: int64

dtype('O')

In [11]:
listings_df['zipcode'].value_counts()

98102.0    13
98103.0    13
98122.0     7
98109.0     6
98144.0     5
98117.0     5
98107.0     5
98101.0     5
98118.0     5
98108.0     3
98121.0     3
98112.0     3
98116.0     3
98133.0     3
98115.0     2
98126.0     2
98105.0     2
98119.0     2
98199.0     1
98125.0     1
98136.0     1
Name: zipcode, dtype: int64

In [12]:
listings_df['zipcode'].value_counts()

98102.0    13
98103.0    13
98122.0     7
98109.0     6
98144.0     5
98117.0     5
98107.0     5
98101.0     5
98118.0     5
98108.0     3
98121.0     3
98112.0     3
98116.0     3
98133.0     3
98115.0     2
98126.0     2
98105.0     2
98119.0     2
98199.0     1
98125.0     1
98136.0     1
Name: zipcode, dtype: int64

In [13]:
listings_df['potentian_annual_revenue']= listings_df['price']*365*.4

In [14]:
listings_df

,id,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,price,number_of_reviews,review_scores_rating,reviews_per_month,square_feet,potentian_annual_revenue
25,685600,Lawton Park,98199.0,47.655131,-122.407818,685600,75.0,8,100.0,0.47,250.0,10950.0
134,281208,Atlantic,98144.0,47.593797,-122.305149,281208,196.0,27,98.0,0.57,1300.0,28616.0
158,113951,Atlantic,98144.0,47.597050,-122.299887,113951,250.0,10,100.0,0.19,1.0,36500.0
211,143580,North Beacon Hill,98144.0,47.583787,-122.316770,143580,75.0,238,94.0,4.31,120.0,10950.0
263,609610,Columbia City,98144.0,47.569615,-122.293955,609610,90.0,15,95.0,0.36,730.0,13140.0
278,841274,Mount Baker,98144.0,47.583572,-122.295901,841274,90.0,69,95.0,2.04,550.0,13140.0
317,9531,Fairmount Park,98136.0,47.555389,-122.384739,9531,165.0,26,100.0,0.54,1200.0,24090.0
390,689309,Broadview,98133.0,47.722727,-122.356684,689309,125.0,5,100.0,0.14,340.0,18250.0
391,1594313,Broadview,98133.0,47.714033,-122.355969,1594313,68.0,16,93.0,0.56,350.0,9928.0
392,1594219,Broadview,98133.0,47.714797,-122.355875,1594219,86.0,21,99.0,0.76,250.0,12556.0
399,233502,North Admiral,98126.0,47.573266,-122.374361,233502,60.0,1,90.0,0.02,800.0,8760.0
422,157939,Fairmount Park,98126.0,47.547787,-122.378002,157939,110.0,22,99.0,0.46,800.0,16060.0
504,670021,Olympic Hills,98125.0,47.725882,-122.301063,670021,54.0,11,76.0,0.27,250.0,7884.0
534,1063855,Mann,98122.0,47.612198,-122.297772,1063855,225.0,11,95.0,0.36,900.0,32850.0
574,1984962,Mann,98122.0,47.612867,-122.298479,1984962,295.0,22,96.0,1.07,1800.0,43070.0
600,639130,Madrona,98122.0,47.609749,-122.290109,639130,195.0,2,80.0,0.37,3.0,28470.0
701,973859,Minor,98122.0,47.607675,-122.305619,973859,115.0,81,96.0,2.62,850.0,16790.0
714,670009,Minor,98122.0,47.612402,-122.311207,670009,175.0,13,72.0,1.36,1300.0,25550.0
813,202174,North Beacon Hill,98122.0,47.595661,-122.318016,202174,159.0,14,96.0,0.33,1300.0,23214.0
864,7369,Broadway,98122.0,47.615397,-122.325640,7369,85.0,40,94.0,0.50,800.0,12410.0
980,1200829,Belltown,98121.0,47.614864,-122.343985,1200829,100.0,20,92.0,0.71,420.0,14600.0
1031,1493197,Belltown,98121.0,47.617926,-122.347833,1493197,275.0,22,95.0,0.78,770.0,40150.0
1067,24212,Belltown,98121.0,47.615396,-122.348664,24212,175.0,29,91.0,0.46,710.0,25550.0
1215,2267088,North Queen Anne,98119.0,47.645302,-122.360906,2267088,110.0,60,97.0,2.64,1200.0,16060.0
1216,108468,North Queen Anne,98119.0,47.645288,-122.372642,108468,395.0,2,100.0,0.04,3000.0,57670.0
1346,2203983,Columbia City,98118.0,47.560866,-122.286124,2203983,80.0,29,94.0,1.25,550.0,11680.0
1351,1223644,Columbia City,98118.0,47.556341,-122.283969,1223644,90.0,38,96.0,1.23,700.0,13140.0
1359,1455269,Columbia City,98118.0,47.567915,-122.290736,1455269,115.0,88,97.0,3.01,0.0,16790.0
1390,1097520,Mount Baker,98118.0,47.569043,-122.282822,1097520,92.0,90,96.0,2.81,435.0,13432.0
1391,774659,Mount Baker,98118.0,47.565974,-122.284133,774659,105.0,40,97.0,1.08,800.0,15330.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2931,808811,Wallingford,98103.0,47.665214,-122.336753,808811,175.0,45,90.0,1.58,1000.0,25550.0
2960,799882,Wallingford,98103.0,47.670846,-122.337467,799882,40.0,32,96.0,0.85,2000.0,5840.0
2965,873073,Wallingford,98103.0,47.655431,-122.333422,873073,175.0,4,95.0,0.43,1600.0,25550.0
2980,703058,Wallingford,98103.0,47.652434,-122.337853,703058,150.0,86,99.0,2.16,1200.0,21900.0
2988,1114695,Wallingford,98103.0,47.661217,-122.339424,1114695,245.0,38,95.0,1.22,1600.0,35770.0
3005,15108,Green Lake,98103.0,47.688266,-122.335855,15108,60.0,42,86.0,0.77,140.0,8760.0
3018,955506,Green Lake,98103.0,47.690449,-122.342187,955506,225.0,22,94.0,0.65,950.0,32850.0
3023,783061,Green Lake,98103.0,47.670307,-122.339095,783061,60.0,34,97.0,0.90,2000.0,8760.0
3072,749758,Greenwood,98103.0,47.694308,-122.350685,749758,98.0,13,85.0,0.40,1.0,14308.0
3082,587584,Greenwood,98103.0,47.687782,-122.348596,587584,99.0,11,100.0,0.26,1100.0,14454.0
3242,282934,Fremont,98103.0,47.657589,-122.354376,282934,115.0,65,99.0,1.90,660.0,16790.0
3269,262764,Fremont,98103.0,47.654205,-122.352604,262764,154.0,5,92.0,1.56,1200.0,22484.0
3274,706385,Eastlake,98102.0,47.643390,-122.325822,706385,138.0,188,100.0,4.85,750.0,20148.0
3293,619366,Eastlake,98102.0,47.644546,-122.325523,619366,115.0,146,98.0,3.52,650.0,16790.0
3335,1950446,Montlake,98102.0,47.636504,-122.319305,1950446,129.0,136,84.0,5.49,900.0,18834.0
3377,1545801,Broadway,98102.0,47.625456,-122.321742,1545801,325.0,23,90.0,0.81,1200.0,47450.0
3391,1897000,Broadway,98102.0,47.622178,-122.317572,1897000,155.0,15,98.0,0.61,650.0,22630.0
3447,1356339,Broadway,98102.0,47.622137,-122.325702,1356339,119.0,61,96.0,2.18,650.0,17374.0
3511,8673979,Broadway,98102.0,47.618654,-122.314209,8673979,115.0,4,90.0,1.33,0.0,16790.0
3514,13068,Broadway,98102.0,47.618547,-122.326318,13068,360.0,26,93.0,0.67,1850.0,52560.0
3541,1348777,Broadway,98102.0,47.625810,-122.319266,1348777,150.0,14,94.0,0.48,1200.0,21900.0
3545,384797,Broadway,98102.0,47.625698,-122.320954,384797,673.0,21,97.0,0.48,2600.0,98258.0
3567,446276,Broadway,98102.0,47.622894,-122.325575,446276,195.0,30,99.0,0.69,0.0,28470.0
3591,26116,Broadway,98102.0,47.617426,-122.326756,26116,199.0,110,97.0,1.71,650.0,29054.0
3597,387079,Broadway,98102.0,47.622021,-122.323985,387079,119.0,41,94.0,0.99,0.0,17374.0
3615,934216,Pike-Market,98101.0,47.608163,-122.338993,934216,137.0,20,88.0,0.68,1150.0,20002.0
3641,206781,Belltown,98101.0,47.615512,-122.337286,206781,120.0,18,96.0,1.00,500.0,17520.0
3645,1084046,Belltown,98101.0,47.613500,-122.338027,1084046,165.0,11,96.0,0.41,1150.0,24090.0
3744,2191169,Central Business District,98101.0,47.607361,-122.337607,2191169,142.0,18,94.0,0.76,0.0,20732.0
3773,1583047,First Hill,98101.0,47.613453,-122.323451,1583047,77.0,6,87.0,0.22,750.0,11242.0

In [15]:
zipcode_values = pd.read_csv('HV_zipcode.csv', encoding='latin1')

values = zipcode_values[['RegionName', 'Zhvi']]
values = values.rename(columns={'RegionName':'zipcode', 'Zhvi': 'Zillow_Avg_Value'})
values

       zipcode  Zillow_Avg_Value
0        10025           1064000
1        60657            354000
2        10023           1380100
3        77494            336000
4        60614            433200
5        79936            126500
6        77449            180200
7        77084            171500
8        10002            969200
9        10467            425400
10       60640            237400
11       11226            827800
12       94109           1277900
13       10016           1018300
14       37013            218000
15       78660            248100
16       32162            263400
17       11375            983000
18       11235            712800
19       60647            395900
20       90250            647600
21       37211            261300
22       10029            791800
23       10009           1142200
24       60618            395300
25       10011           1657500
26       77573            267200
27       77584            264500
28       10128           1219200
29       20002            675600
...        ...               ...
15501    80510            316500
15502    80481            356400
15503    20618            200500
15504    20625            234500
15505    43438            239800
15506     1270            211600
15507    29915            520200
15508    81430            627900
15509    83821            579300
15510    12480            177900
15511     3215            184400
15512    54865             77300
15513    97733            250800
15514     3812            206400
15515    92322            212400
15516    54832            122600
15517    92341            203600
15518    89413           2068400
15519    12444            287200
15520     3765            134800
15521    48728             79600
15522    84781            292500
15523    12429            184600
15524    97028            342900
15525    12720            130900
15526    97102            634200
15527     1338            227600
15528     3293            179300
15529    40404            142100
15530    89155            365900

[15531 rows x 2 columns]

In [16]:
merged_df = pd.merge(listings_df, values, how='left', on=['zipcode', 'zipcode'])

In [17]:
merged_df.head()

,id,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,price,number_of_reviews,review_scores_rating,reviews_per_month,square_feet,potentian_annual_revenue,Zillow_Avg_Value
0,685600,Lawton Park,98199.0,47.655131,-122.407818,685600,75.0,8,100.0,0.47,250.0,10950.0,917500
1,281208,Atlantic,98144.0,47.593797,-122.305149,281208,196.0,27,98.0,0.57,1300.0,28616.0,707000
2,113951,Atlantic,98144.0,47.597050,-122.299887,113951,250.0,10,100.0,0.19,1.0,36500.0,707000
3,143580,North Beacon Hill,98144.0,47.583787,-122.316770,143580,75.0,238,94.0,4.31,120.0,10950.0,707000
4,609610,Columbia City,98144.0,47.569615,-122.293955,609610,90.0,15,95.0,0.36,730.0,13140.0,707000

In [26]:
merged_df['yield']= merged_df['potentian_annual_revenue'] / merged_df['Zillow_Avg_Value'] *100
merged_df['rent_squre_foot']= merged_df['potentian_annual_revenue'] / merged_df['square_feet']
merged_df['rent_squre_foot'] = merged_df['rent_squre_foot'].apply(lambda x: round(x,2))



merged_df.head()

,id,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,price,number_of_reviews,review_scores_rating,reviews_per_month,square_feet,potentian_annual_revenue,Zillow_Avg_Value,yield,rent_squre_foot
0,685600,Lawton Park,98199.0,47.655131,-122.407818,685600,75.0,8,100.0,0.47,250.0,10950.0,917500,1.193460,43.80
1,281208,Atlantic,98144.0,47.593797,-122.305149,281208,196.0,27,98.0,0.57,1300.0,28616.0,707000,4.047525,22.01
2,113951,Atlantic,98144.0,47.597050,-122.299887,113951,250.0,10,100.0,0.19,1.0,36500.0,707000,5.162659,36500.00
3,143580,North Beacon Hill,98144.0,47.583787,-122.316770,143580,75.0,238,94.0,4.31,120.0,10950.0,707000,1.548798,91.25
4,609610,Columbia City,98144.0,47.569615,-122.293955,609610,90.0,15,95.0,0.36,730.0,13140.0,707000,1.858557,18.00

In [27]:
merged_df.to_csv('cleaned_data.csv')